name: Release Unity Package

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build:
    name: Build and Upload Package
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          path: Editor

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Create .unitypackage
        run: |
          npx @gamedev-js/unity-packer pack ./package_source -o ./cihaneray.editor-toolbar-extender.unitypackage

      - name: Upload to Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: MyExtension.unitypackage